
.container{
    align-items: center;
    justify-content: center; 
    padding: 10px 10px;
}
#tabl{
    display:none;
 }
  .tab{
    margin-top: 30px;
    padding-left: 40px;
  }
  .cont{
    color: white;
    padding-top: 30px;
    text-align: center;
  }